
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<br />

<!-- ======= Header ======= -->

<!-- End Header -->
<!-- ======= Hero Section ======= -->

@{ 
    Html.RenderAction("SliderPartial", "Home");
        }
<!-- End Hero -->
<!-- ======= Services Section ======= -->
<section class="services">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                <div class="icon-box icon-box-pink">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a href="">Innovator</a></h4>
                    <p class="description">
                        We offer innovative solutions to today's problems by using modern and advanced technologies.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box icon-box-cyan">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title"><a href="">Dynamic</a></h4>
                    <p class="description">
                        With our dynamic working model, we always create a productive environment and keep productivity high.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href="">Feedbacks</a></h4>
                    <p class="description">
                        We care about the feedbacks of our employees and customers and take action accordingly.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-green">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4 class="title"><a href="">New Beginnings</a></h4>
                    <p class="description">
                        We always pave the way for new career opportunities for our employees and support their development.
                    </p>
                </div>
            </div>



        </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= Why Us Section
<section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 video-box">
                <img src="/Content/SiteLayout/assets/img/why-us.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
            </div>

            <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">Nemo Enim</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                </div>

            </div>
        </div>

    </div>
</section>-->

<!-- ======= Features Section ======= -->
<section class="features">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <p>
                In addition to the quality of its services, Lightyear Software Company differentiates itself in the sector with its flexible working models, fast learning, easy adaptation, strong communication and strong organizational quality.
            </p>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="/Content/SiteLayout/assets/img/features-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4">
                <h3>Software Development</h3>
                <p class="fst-italic">
                    With our experienced staff specialized in different technologies, we offer desktop, mobile and web-based special application solutions to meet all kinds of software needs of companies.
                </p>
                <ul>
                    <li><i class="bi bi-check"></i> Web Application Development</li>
                    <li><i class="bi bi-check"></i> Desktop Application Development</li>
                    <li><i class="bi bi-check"></i> Mobile Application Development</li>
                </ul>
            </div>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="/Content/SiteLayout/assets/img/features-3.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>Software Maintenance and Support</h3>
                <p class="fst-italic">
                    We provide services to our customers with software maintenance and support activities not only during software development phases, but also after the software is put into use.
                </p>
            </div>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="/Content/SiteLayout/assets/img/features-2.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5">
                <h3>Business Analysis</h3>
                <p class="fst-italic">
                    Believing that successful projects emerge as a result of good business and system analysis, we start our processes with great care and meticulousness by conducting comprehensive business and system analysis studies.
                </p>
                <ul>
                    <li><i class="bi bi-check"></i> Business Analysis</li>
                    <li><i class="bi bi-check"></i> System Analysis</li>
                    <li><i class="bi bi-check"></i> Process Analysis</li>
                </ul>
            </div>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="/Content/SiteLayout/assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>Software Consultant</h3>
                <p class="fst-italic">
                    To all our customers in the domestic and international network; We offer consultancy services in many areas such as Software Development, Infrastructure, Process, Information Systems, Quality and Risk Management.
                </p>
            </div>
        </div>

    </div>
</section><!-- End Features Section -->

