@model IEnumerable<Lightyear_Software_Company.Models.Model.Slider>

@{ 
    Layout = null;
}

    <section id="hero" class="d-flex justify-cntent-center align-items-center">
        <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Lightyear Software Company</h2>
                    <p class="animate__animated animate__fadeInUp">
                        Company that aims to provide the best service to many users from different sectors with an innovative, dynamic and added value approach.
                    </p>
                </div>
            </div>

            @foreach (var item in Model)
            {
                <div class="carousel-item">
                    <div class="carousel-container">
                        <h2 class="animate__animated animate__fadeInDown">@item.SliderTitle</h2>
                        <p class="animate__animated animate__fadeInUp">@item.SliderDescription</p>
                    </div>
                </div>
            }

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </section>
